[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pika = "*"
boto3 = "1.34.93"
pydub = "*"
requests = "*"
flask = "*"
pyinstaller = ">=3.6"
black = "*"
pika-stubs = "==0.1.3"

[requires]
python_version = "3.12.3"

[pipenv]
allow_prereleases = true
